/**
 * Well styled list
 *
 */
.well-list {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    padding: 10px 15px;
    min-height: 20px;
    border-bottom: 1px solid #eee;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);

    &:after {
      content: " ";
      display: table;
      clear: both;
    }

    &.disabled {
      color: #888;
    }

    &.unstyled {
      &:hover {
        background: none;
      }
    }

    &.warning-row {
      background-color: #fcf8e3;
      border-color: #faebcc;
      color: #8a6d3b;
    }

    &.smoke { background-color: $background-color; }

    &:hover {
      background: $hover;
    }

    &:last-child {
      border-bottom: none;

      &.bottom {
        background: $background-color;
      }
    }

    .list-item-name {
      float: left;
      position: relative;
      top: 3px;
    }

    p {
      padding-top: 1px;
      margin: 0;
      color: $gray-dark;
      img {
        position: relative;
        top: 3px;
      }
    }

    .well-title {
      font-size: $list-font-size;
      line-height: 18px;
    }
  }
}


/** light list with border-bottom between li **/
ul.bordered-list {
  @include basic-list;

  &.top-list {
    li:first-child {
      padding-top: 0;

      h4, h5 {
        margin-top: 0;
      }
    }
  }
}

ul.task-list {
  li.task-list-item {
    list-style-type: none;
  }

  ul:not(.task-list) {
    padding-left: 1.3em;
  }
}

ul.content-list {
  @include basic-list;

  margin: 0;
  padding: 0;

  > li {
    padding: $gl-padding;
    border-color: $table-border-color;
    margin-left: -$gl-padding;
    margin-right: -$gl-padding;
    color: $gl-gray;

    .avatar {
      margin-right: 15px;
    }

    .controls {
      padding-top: 1px;
      float: right;

      .btn {
        padding: 10px 14px;
      }
    }

    ul.controls {
      list-style: none;

      li {
        float: left;
        padding-right: 10px;

        .author_link {
          display: inline-block;

          .avatar-inline {
            margin-left: 0;
            margin-right: 0;
          }
        }
      }
    }
  }
}

.panel > .content-list {
  li {
    margin: 0;
  }
}
